<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>indexlist</servlet-name>
        <servlet-class>com.hb.mvc2.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexlist</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ex01</servlet-name>
        <servlet-class>com.hb.mvc2.controller.Ex01Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ex01</servlet-name>
        <url-pattern>/ex01.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addcontroller</servlet-name>
        <servlet-class>com.hb.guest.controller.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addcontroller</servlet-name>
        <url-pattern>/guest/add.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listcontroller</servlet-name>
        <servlet-class>com.hb.guest.controller.ListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listcontroller</servlet-name>
        <url-pattern>/guest/list.do</url-pattern>
    </servlet-mapping>

</web-app>